@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

$cor-verde-claro: hsl(148, 38%, 91%);
$cor-verde-escuro: hsl(169, 82%, 27%);
$cor-vermelho: hsl(0, 66%, 54%);
$cor-cinza-claro: hsl(186, 15%, 59%);
$cor-cinza-escuro: hsl(187, 24%, 22%);

$font-primaria: 'Karla', sans-serif;